 body {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    color:rgb(2, 2, 81);
    background-color: #99D0D3;
    display: grid;
}


 h1 { /* home page title */
    font-size: 50px;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    margin-top: 200px;
    width: max-content; 
    margin: 0 auto;
    margin-top: 200px;
    position: relative;
}

h2 { /* home page subtitle */
    text-align: center;
    font-size: 28px;
    margin-top: 2px;
    font-family: 'Source Code Pro', monospace;
    opacity: 0;
    transform: translate(-5px,3rem);
    animation: fade1 0.8s ease 5.5s forwards;
}

h3 {
    color: rgb(2, 2, 116);
    font-size: 75px;
    font-family: 'Poppins', sans-serif;
    margin-top: 300px;
    margin-left: 50px;
}

p { /* about page text */
    color: rgb(2, 2, 81);
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;

}

h4 { /* bottom of contact page */
    text-align: center;
    color: rgb(2, 2, 116);
    font-family: 'Poppins', sans-serif;

    font-weight: bolder;
    font-size: 27px;
    margin-bottom: -30px;
    transform: translateY(-30px);
}

section {
    position: relative;
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.spacer {
    
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(#83c7c6, #aed9e0);
}

.scroll {
    position: absolute;
    color: rgb(2, 2, 116);
    font-family: 'Poppins', sans-serif;

    font-weight: bolder;
    font-size: 32px;
}

.education {
    position: absolute;
    color: rgb(2, 2, 116);
    font-family: 'Poppins', sans-serif;

    font-weight: bolder;
    font-size: 32px;
    text-align: center;
    max-width: 700px;
}

.passion {
    position: absolute;
    color: rgb(2, 2, 116);
    font-family: 'Poppins', sans-serif;

    font-weight: bolder;
    font-size: 32px;
    text-align: center;
    max-width: 700px;

}
.language-supp { 
    position: absolute;
    color: rgb(2, 2, 116);
    font-family: 'Poppins', sans-serif;

    font-weight: bolder;
    font-size: 32px;
    z-index: 2;
    left: 80px

}

.internship {
    position: absolute;
    color: rgb(2, 2, 116);
    font-family: 'Poppins', sans-serif;

    font-weight: bolder;
    font-size: 32px;
    text-align: center;
    max-width: 700px;
}

h6 { /* about page 'languages' */
    position: relative;
    color: rgb(2, 2, 116);
    transform: translate(170px, -120px);
    font-family: 'Poppins', sans-serif;

    font-weight: bolder;
    font-size: 30px;
}


.test{
    position: absolute;
    bottom: 1200px;
    right: 1000px
}
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.5s;
}


.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}   




    








